In [25]:
import pandas as pd

#### Load Excel-File and identify Worksheets

In [26]:
path = '../datalake/online_retail_II.xlsx'
xl = pd.ExcelFile(path)
xl.sheet_names  # see all sheet names

['Year 2009-2010', 'Year 2010-2011']

#### Read Excel-Files to Dataframe

In [27]:
df_1 = pd.read_excel(path, sheet_name='Year 2009-2010')
df_2 = pd.read_excel(path, sheet_name='Year 2010-2011')
df = pd.concat([df_1, df_2], axis=0, join='inner', ignore_index=True)

In [32]:
df = df.dropna()

In [59]:
df_group = df.groupby('StockCode').agg({'Description': lambda x: ', '.join(x.unique())})
df_description = pd.DataFrame({'Description': df_group['Description']}).reset_index()
df_description

     StockCode                  Description
0        10002  INFLATABLE POLITICAL GLOBE
1        10080     GROOVY CACTUS INFLATABLE
2        10109         BENDY COLOUR PENCILS
3        10120                 DOGGY RUBBER
4        10125      MINI FUNKY DESIGN TAPES
...        ...                          ...
4641      PADS   PADS TO MATCH ALL CUSHIONS
4642      POST                      POSTAGE
4643    SP1002       KID'S CHALKBOARD/EASEL
4644   TEST001      This is a test product.
4645   TEST002      This is a test product.

[4646 rows x 2 columns]

In [60]:
df_items = pd.merge(df_description, df[['StockCode', 'Price']], on="StockCode", how='left').drop_duplicates(subset=['StockCode'])
df_items = df_items.rename(columns={'StockCode': 'item_id', 'Price': 'price_in_GBP', 'Description': 'description'})

In [64]:
path = "../csv-files/items_data.csv"
df_items.to_csv(path, index=False)