In [1]:
import pandas as pd

#### Load Excel-File and identify Worksheets

In [3]:
path = '../datalake/online_retail_II.xlsx'
xl = pd.ExcelFile(path)
xl.sheet_names  # see all sheet names

['Year 2009-2010', 'Year 2010-2011']

#### Read Excel-Files to Dataframe

In [4]:
df_1 = pd.read_excel(path, sheet_name='Year 2009-2010')
df_2 = pd.read_excel(path, sheet_name='Year 2010-2011')
df = pd.concat([df_1, df_2], axis=0, join='inner', ignore_index=True)

In [5]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [10]:
df_orders = df[['Invoice', 'StockCode', 'Quantity', 'InvoiceDate', 'Customer ID']]
df_orders = df_orders.rename(columns={'Invoice': 'invoice_number', 'StockCode': 'item_id',
                          'Quantity': 'quantity', 'InvoiceDate': 'invoice_date',
                          'Customer ID': 'customer_id'})

In [12]:
path = "../csv-files/orders_data.csv"
df_orders.to_csv(path, index=False)

In [15]:
pd.read_csv(path)

        invoice_number item_id  quantity         invoice_date  customer_id
0               489434   85048        12  2009-12-01 07:45:00      13085.0
1               489434  79323P        12  2009-12-01 07:45:00      13085.0
2               489434  79323W        12  2009-12-01 07:45:00      13085.0
3               489434   22041        48  2009-12-01 07:45:00      13085.0
4               489434   21232        24  2009-12-01 07:45:00      13085.0
...                ...     ...       ...                  ...          ...
1067366         581587   22899         6  2011-12-09 12:50:00      12680.0
1067367         581587   23254         4  2011-12-09 12:50:00      12680.0
1067368         581587   23255         4  2011-12-09 12:50:00      12680.0
1067369         581587   22138         3  2011-12-09 12:50:00      12680.0
1067370         581587    POST         1  2011-12-09 12:50:00      12680.0

[1067371 rows x 5 columns]